<!DOCTYPE html>
<html>
<head>
    <title>My App</title>
    <!-- Vous pouvez ajouter ici d'autres balises meta, des liens vers des fichiers CSS, etc. -->
</head>
<body>
    <header>
        <!-- Vous pouvez ajouter ici un en-tête pour votre site, comme un logo et une barre de navigation. -->
    </header>

    <main>
        {% block content %}
        <!-- Le contenu spécifique à chaque page sera inséré ici. -->
        {% endblock %}
    </main>

    <footer>
        <!-- Vous pouvez ajouter ici un pied de page pour votre site, comme des informations de copyright et des liens vers des pages d'information. -->
    </footer>
</body>
</html>